.navbar-brand {
  font-size: var(--font-large) !important;
  font-weight: 700;
}

.navbar-brand span {
  color: var(--secondary-color) !important;
}

.nav-link {
  color: var(--secondary-color) !important;
  font-size: var(--font-medium);
  border-left: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transition: all 0.5s ease;
  display: inline-block;
  margin-bottom: 0.5rem;
  padding: 10px !important;
  border-radius: 20px;
  width: 10rem;
  background: transparent !important;
}

.nav-link:hover {
  color: #111 !important;
  border-left: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  box-shadow: var(--box-shadow);
}
